.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #213760;
}

.form > input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18px;
  width: 400px;
}

.form > button {
  margin-left: 10px;
}

.btn {
  background-color: #EC2788;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.bookmarks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.bookmark {
  display: flex;
  align-items: center;
  background-color: #FFF3D5;
  max-width: 46%;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}

.bookmark button {
  margin-top: 10px;
}

.thumbnail {
  margin-right: 10px;
}


